body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-color: rgb(4, 63, 0);
}

h2{
  color: white;
}

.dialog{
  display: flex;
  flex-direction: column;
  border: 2.5px solid #06b800;
  box-shadow: 0 0 25px rgba(142, 255, 183, 0.5);
  width: 50%;
  min-height: 10vh;
  border-radius: 10px;
  background-color: aliceblue;
}

.donald{
  color: white;
  padding: 3vh;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}

.donald img{
  content: url("donald.png");
  width: 50px;
  height: 50px;
}

.donald div{
  background-color: rgb(19, 78, 25);
  border: 1px solid #06b800;
  box-shadow: 0 0 3px rgba(0, 148, 54, 0.5);
  border-radius: 0 15px 15px 30px;
  max-width: 60%;
  padding: 15px;
}

.daisy{
  padding: 3vh;
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
}

.daisy div{
  background-color: rgb(112, 254, 91);
  border: 1px solid #06b800;
  box-shadow: 0 0 3px rgba(0, 148, 54, 0.5);
  max-width: 60%;
  border-radius: 15px 0px 30px 15px;
  padding: 15px;
}

.daisy img{
  content: url("daisy.png");
  width: 50px;
  height: 50px;
}