.social-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-menu img{
  width: 5vw;
  margin: 1vw;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.social-menu img:hover{
  filter: grayscale(0);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 223, 211);
}

  