body {
    display: flex;
    flex-direction: row;
}

body > * {
    width: 84px;
    height: 84px;
}

#item1 {
    background: url(logo.jpg) 0 84px;
}

#item1:hover {
    background: url(logo.jpg) 0 0;
}

#item2 {
    background: url(logo.jpg) -84px 84px;
}

#item2:hover {
    background: url(logo.jpg) -84px 0;
}

#item3 {
    background: url(logo.jpg) -168px 84px;
}

#item3:hover {
    background: url(logo.jpg) -168px 0;
}

#item4 {
    background: url(logo.jpg) -252px 84px;
}

#item4:hover {
    background: url(logo.jpg) -252px 0;
}

#item5 {
    background: url(logo.jpg) -336px 84px;
}

#item5:hover {
    background: url(logo.jpg) -336px 0;
}

#item6 {
    background: url(logo.jpg) -420px 84px;
}

#item6:hover {
    background: url(logo.jpg) -420px 0;
}

#item7 {
    background: url(logo.jpg) -504px 84px;
}

#item7:hover {
    background: url(logo.jpg) -504px 0;
}

#item8 {
    background: url(logo.jpg) -588px 84px;
}

#item8:hover {
    background: url(logo.jpg) -588px 0;
}

#item9 {
    background: url(logo.jpg) -672px 84px;
}

#item9:hover {
    background: url(logo.jpg) -672px 0;
}

#item10 {
    background: url(logo.jpg) -756px 84px;
}

#item10:hover {
    background: url(logo.jpg) -756px 0;
}

#item11 {
    background: url(logo.jpg) -840px 84px;
}

#item11:hover {
    background: url(logo.jpg) -840px 0;
}
